CompileFlags:
    Compiler: clang-cl
    Remove:
        - /std:*
        - -std:*
        - /FI*
        - -FI*
        - /Yu*
        - -Yu*
        - /Fp*
        - -Fp*
        - /utf-8
        - /external:*
        - -external:*
        - /diagnostics:*
        - /cgthreads*
        - /Zc:*
        - /fp:*
        - /guard:*
        - /Ob*
        - /opt:*
        - /we*
        - /wd*
        - /Fd*
        - /Fo*
        - /Fp*
        - /FS
        - /MD
        - /MT
        - /Zi
        - /O2
        - /O1
        - /Od
        - /GL
        - /W4
        - /W3
        - /bigobj
        - /permissive-
        - /EHsc
        - /nologo
    Add:
        - /std:c++latest
        - /Zc:preprocessor
        - -Wno-unknown-warning-option
        - -Wno-microsoft-enum-value
        - -Wno-pragma-pack
