CompileFlags:
    Remove:
        - /std:*
        - -std:*
        - /FI*
        - -FI*
        - /Yu*
        - -Yu*
        - /Fp*
        - -Fp*
        - /Fd*
        - /Fo*
        - /utf-8
        - /external:*
        - -external:*
        - /diagnostics:*
        - /cgthreads*
        - /Zc:*
        - /fp:*
        - /guard:*
        - /Ob*
        - /opt:*
        - /we*
        - /wd*
        - /FS
        - /MD
        - /MT
        - /Zi
        - /O2
        - /O1
        - /Od
        - /GL
        - /W4
        - /W3
        - /bigobj
        - /permissive-
        - /nologo
    Add:
        # One of these two will match the active clangd driver; the other is
        # filtered by -Wno-unknown-warning-option.
        - -std=c++23
        - /std:c++latest
        - /EHsc
        - /Zc:preprocessor
        - -Isrc
        - -Ilib/commonlibf4/include
        - -Ilib/commonlibf4/lib/commonlib-shared/include
        - -DCOMMONLIB_OPTION_INI=1
        - -DCOMMONLIB_RUNTIMECOUNT=3
        - -DNDEBUG
        - -DWIN32_LEAN_AND_MEAN
        - -DNOMINMAX
        - -Wno-unknown-warning-option
        - -Wno-microsoft
        - -Wno-c++11-narrowing
        - -Wno-c++11-narrowing-const-reference
        - -Wno-pragma-pack
